<head>
<title>cWarehouse Coupons CSS</title>
<style type="text/css">
body {
    font-size: 20px;
    font-family: HelveticaNeue, Roboto;    
    line-height: 1;
}
.huge {
    font-size: 23px;
    line-height: 0;
}
.instantSavings {
    font-family: HelveticaNeue-CondensedBold, Roboto;
    font-size: 30px;
    line-height: 40px;
    color: red
}

.superScript {
    font-family: HelveticaNeue, Roboto;
    font-size: 20px;
    line-height: 10px;
    color: red;
    vertical-align: top; 
}

.dollarSign {
    font-family: HelveticaNeue-CondensedBold, Roboto, sans-serif;
    font-size: 30px;
    line-height: 20px;
    color: red;
    vertical-align: top; 
}

.dollar {
    font-family: HelveticaNeue-CondensedBold, Roboto, sans-serif;
    font-size: 66px;
    line-height: 40px;
    color: red
}

.off {
    font-family: HelveticaNeue, Roboto, sans-serif;
    font-size: 66px;
    line-height: 20px;
    color: red
}

.productName {
    font-family: HelveticaNeue-CondensedBold, Roboto, sans-serif;
    font-size: 25px;
    line-height: 23px;
    color: black
}

.selectionVaries {
    font-family: HelveticaNeue-Italic, Robot, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: red
}

ul.b {list-style-type: disc;
    font-family: HelveticaNeue, Roboto, sans-serif;
    font-size: 20;
    line-height: 20px;
    color: black
}


</style>
</head>
<body>